<div class="about">
  <div class="container">
    <div class="page-content">
        <h2>Про нас</h2>
        <div class="">
          Proin porta neque ornare, vestibulum nisl ac, tincidunt magna. Phasellus facilisis, elit quis luctus tempus, tortor lacus dictum elit, malesuada malesuada tellus tellus quis metus. Morbi nec orci maximus, consequat odio id, malesuada risus. Pellentesque dapibus leo ut ultricies porttitor. Suspendisse venenatis, lectus vel congue congue, turpis elit dictum ante, ac volutpat felis diam ut metus. Sed auctor ornare tortor, vel convallis ipsum finibus id. Integer finibus quam et neque ornare, vel rhoncus nunc tempus. Aenean vel vulputate lectus, nec consectetur nisi. Phasellus gravida blandit nisl eu pellentesque. Vestibulum vehicula rutrum ultricies. Proin et tincidunt enim, eleifend tincidunt ligula.
        </div>
    </div>
  </div>
</div>
