<footer class="site-footer navbar navbar-default">

  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <ul class="contact-list">
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li>{{ site.phone1 }}</li>
          <li>{{ site.phone2 }}</li>
          <a href="https://vk.com/kobaopinel" target="_blank"><img src="/../assets/img/vk.png" class="social_network"></a>
          <a href="https://www.facebook.com/akobevko" target="_blank"><img src="/../assets/img/fb.png" class="social_network"></a>
        </ul>
      </div>

      <div class="col-md-6">

      </div>
    </div>
    <div class="text-center">
            <a href="http://twitter.com/Kobevko" target="_blank">@kobevko</a>
            &copy 2016
    </div>
  </div>

</footer>
