<div class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">

          <div class="panel-heading">
            <h3>Ми шукаємо:</h3>
          </div>
          <div class="panel-body">
            <ol>
              <li>smth</li>
              <li>smth</li>
              <li>smth</li>
            </ol>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3>Фінансова допомога</h3>
          </div>
          <div class="panel-body">
            <p>
              Отримувач: smths
            </p>
            <p>
              ЄДРПОУ: 111111111
            </p>
            <p>
              р/р: 11111111111111111 в
            </p>
            <p>ПАТ «пласт-Банк» у м. Києві</p>
            <p>
              МФО: 111111</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <div class="panel panel-default">

          <div class="panel-heading">
            <h3>Вакансії</h3>
          </div>
          <div class="panel-body">

            <ol>
              <li>smth</li>
              <li>smth</li>
              <li>smth</li>
            </ol>

          </div>
        </div>
      </div>
    </div>
  </div>
